html {
    background-color: #5c636f;
    color: white;
    font-family: DFKai-sb;
    font-size: -webkit-xxx-large;
}

h1 {
    font-size: 16px
}

button {
    background-color: rgb(252, 252, 252);
    border: none;
    color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

button:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}